/*Write all of your CSS here*/
*{
    font-family: helvetica;
    padding: 10px;
    text-align: center;
}

form{
    border: 1px solid #000;
    width: 400px;
    padding-bottom: 10px;
    display: inline-block;

}

a{
    text-decoration: none;
    color: #000;
    border: 1px solid #000;
    position: relative;
    top: 20px;
}

hr{
    padding: 0px;
}

button{
    margin: 5px;
}

div.reviewInfo{
    border: 1px solid #000;
    margin: 10px;
    width: 400px;
    display: inline-block;
}

span{
    color: red;
}