<h1>Current Auctions</h1>
 <h5>Welcome @ViewBag.LoginUser, you have $@ViewBag.Wallet </h5> 
<div class="dash">
    <table>
        <tr>
            <th>PRODUCT</th>
            <th>SELLER</th>
            <th>TOP BID</th>
            <th>TIME REMAINING</th>
            <th></th>
        </tr>
        <!-- foreach (var auction in ViewBag.CurrAuctions)
        {
        <tr>
            <td><a href="Auction/auction.AuctionId">auction.ProductName</a></td>
            <td>auction.User.Username</td>
            <td>AH</td>
        </tr>
        } -->
        <!-- deleted @ signs because it wouldn't work -->
    </table>
</div>
<br>


<a href="NewAuction">NEW AUCTION</a>
<a href="ClearSession">LOGOUT</a> 
<a href="OneAuction">TEST FOR ONE</a>