@{
    ViewData["Title"] = "Home Page";
}

@model cbelt.Models.RegisterViewModel

<div class="header">
<h1>Register</h1>
<p>//////</p>

<form asp-controller="Home" asp-action="Register" method="post">
    <p>First Name
        <br>
         <span asp-validation-for="FirstName"></span> 
        <br>
        <input asp-for="FirstName">
    </p>

    <p>Last Name
        <br>
         <span asp-validation-for="LastName"></span> 
        <br>
        <input asp-for="LastName">
    </p>

    <p>Username
        <br>
         <span asp-validation-for="Username"></span> 
        <br>
        <input asp-for="Username">
    </p>

    <p>Password
        <br>
         <span asp-validation-for="Password"></span> 
        <br>
        <input asp-for="Password">
    </p>

    <p>Confirm Password
        <br>
         <span asp-validation-for="ConfirmPassword"></span> 
        <br>
        <input asp-for="ConfirmPassword" type="Password">
    </p>
    <button type="submit">
        Register
    </button>

</form>
</div>

<div class="header">
<h1>Login</h1>
<p>//////</p>


<form asp-controller="Home" asp-action="Login" method="post" >
    <p>Username
        <br>
        <input type="text" name="Username">
    </p>

    <p>Password
        <br>
        <input type="password" name="LoginPass">
    </p>

    <button type="submit">Login</button>
</form>
</div>
<br>

<br>
<a href="/">Testing</a>