<h1>Product Name</h1>

<div class="info">
    <h4>CREATED BY:</h4>
    <h4>TIME REMAINING:</h4>
</div>

<div class="info">
    <h4>DESCRIPTION:</h4>
</div>

<div class="bid">
    <table>
        <tr>
            <th>CURRENT HIGHEST BID:</th>
            <th>BID BY:</th>
        </tr>
    </table>
</div> 

<div class="bid">
    <form action="">
        <p>YOUR BID:
            <input type="text" name="">
        </p>
        <button type="submit">BID</button>
    </form>
</div>

<br>
<a href="ClearSession">LOGOUT</a>
<a href="Dashboard">AUCTION DASHBOARD</a>