<h1>Login</h1>
<p>//////</p>

<form asp-controller="Home" asp-action="Login" method="post">
    <p>Email
        <br>
        <input type="text" name="Email">
    </p>

    <p>Password
        <br>
        <input type="password" name="LoginPass">
    </p>

    <button type="submit">Login</button>
</form>
<br>
<a href="/">Need to Register?</a>