<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Hello!</title>
        <link rel="stylesheet" href="~/css/style.css"/>
    </head>
    <body>
        <a href="/">Home</a> | <a href="/project">Projects</a> | <a href="/contact">Contact</a>
        <div align="center">
            <h1>CONTACT</h1>
            <p>//////</p>
            <form class=“”  method=“”>
            <input type=“text” name=“name” placeholder=“Name”><br><br>
            <input type=“text” name=“email” placeholder=“Email”><br><br>
            <textarea placeholder=“Your message...“></textarea><br><br>
            <button type=“submit” name=“send”>Send!</button>
            </form>

        </div>
    </body>
</html>