<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Hello!</title>
        <link rel="stylesheet" href="~/css/style.css"/>
    </head>
    <body>
        <a href="/">Home</a> | <a href="/project">Projects</a> | <a href="/contact">Contact</a>
        <div align="center">
            <h1>LOOK:</h1>
            <p>//////</p>

            
            <img src="/images/church.png">
            <img src="/images/frog.png">
            <img src="/images/jelly.png">
            <br>
            <div class="info">
                <h3>CHURCH</h3>
                <h5>TACOMA</h5>
            </div>
            <div class="info">
                <h3>FROG</h3>
                <h5>BC</h5>
            </div>
            <div class="info">
                <h3>JELLY</h3>
                <h5>VICTORIA</h5>
            </div>
        </div>
    </body>
</html>