<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="~/css/style.css"/>
        <title>Results</title>
    </head>
    <body>
        <h1>Your Results: </h1>
        <div class="stuff">
            <p>NAME</p>
            <h3>@ViewBag.Name</h3>
            <p>MOON</p>
            <h3>@ViewBag.Moon</h3>
            <p>PLANET</p>
            <h3>@ViewBag.Planet</h3>
            <p>COMMENT</p>
            <h3>@ViewBag.Comment</h3>
        </div>
        
        <p>//////</p>
    </body>
</html>