<html>
    <head>
        <meta charset="utf-8" />
        <title>Passcode Generator</title>
        <link rel="stylesheet" href="~/css/style.css">
    </head>
    <body>
        <h1>Random Passcode</h1>
        <h3># @ViewBag.RandCount</h3>
        <br>
        <div class="code">
            <h2>@ViewBag.Passcode</h2>
        </div>
        <p>//////</p>
        <a href="/"><button>RANDOM GENERATOR</button></a>
    </body>
</html>